menu.dtd

<!ELEMENT menu (meals, beverages)>
<!ELEMENT meals (meal+)>
<!ELEMENT meal (name, price, description, image)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT beverages (category+)>
<!ELEMENT category (name, (size* | beverage+))>
<!ELEMENT size (name, price, description?)>
<!ELEMENT beverage (name, price)>
